.sidebar {
  display: flex;
  flex-direction: column;
  text-align: center;

  width: 500px;
  padding: 15px;
  background-color: #f0f0f0;
  overflow-x: hidden;
}

.title {
  margin-bottom: 20px;
  color: #333;
}

.input-table {
  display: flex;
  gap: 10px;
}

.input-column {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  input {
    width: 100%;
    padding: 5px;
    border: 1px solid #969696;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
  }
}

.add-remove-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: end;
  padding: 10px;
}

.modify-table-button {
  border: none;
  font-size: 25px;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  cursor: pointer;

  transition: 0.3s;
}

.minus-button {
  color: red;

  &:hover {
    background-color: red;
    color: white;
  }
}

.plus-button {
  color: green;

  &:hover {
    background-color: green;
    color: white;
  }
}

.sidebar .calc-buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;

  button {
    padding: 5px 10px;
    border: none;
    border-radius: 8px;
    background-color: #4caf50;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: #333;
    }
  }
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
  padding: 10px;
  border-top: 1px solid #969696;

  p {
    font-size: 20px;
  }
}

.result-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.result-table th,
.result-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.result-table th {
  background-color: #f2f2f2;
  color: black;
}

.result-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.result-table tr:hover {
  background-color: #ddd;
}

.result-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #4caf50;
  color: white;
}

.result h2 {
  margin-top: 20px;
}

.result p {
  margin: 5px 0;
}
